@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container-fluid{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: auto;
    width: 1000px;
}